/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
N E C E S S A R Y - F I L E S
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

R O B O T O - F O N T
- - - - - - - - - - - -
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">


L A T O - F O N T
- - - - - - - - - - - -
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

*/

/* T E X T - S T Y L I N G */

body{
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: rgb(255,255,255);
}

/* H O M E - P A G E */

h1{
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
}

h1 HELPMECHOOSE{
  font-size: 32px;
  font-weight: bold;
  color: rgb(255,255,255);
  text-transform: uppercase;
  letter-spacing: .1em;
}

BROWSEPETS{
  font-size: 32px;
  text-shadow: 0px 2px gray;
}

/* L O G I N - P A G E */

input[type=text].login{
  font-size: 20px;
  color: rgba(0,0,0,.28);
}

p .REMEMBERME{

}

h2.OR{
  font-size: 20px;
  font-weight: light;
  color: rgb(0,0,0);
}

#signUp{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.4px;
}

/* S U R V E Y - P A G E */

h1.surveyTitle{
  font-size: 36px;
  text-shadow: 0px 2px gray;
  line-height: 44px;
}

p.surveyCopy{
  font-size: 16px;
  color: #4A4A4A;
  line-height: 27px;
}

.surveyQuestion{
  font-size: 24px;
  line-height: 32px;
}

.surveyProgressBar{
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

/* R E S U L T S - P A G E */

petName{
  font-size: 24px;
  color: rgb(0,0,0);
  text-shadow: 0 2px gray;
}

matchPercentage{
  font-size: 20px;
  font-weight: light;
  color: rgb(0,0,0);
  line-height: 24px;
}

a.viewPet{
  font-size: 12px;
  color: #6FB002;
  line-height: 15px;
}

/* P E T - P A G E */

h1 petTitle{
  font-size: 48px;
  line-height: 24px;
}

h2.aboutPet{
  font-size: 20px;
  font-weight: light;
  color: rgb(0,0,0);
  line-height: 24px;
}

p.petCopy{
  font-size: 16px;
  color: #4A4A4A;
  line-height: 27px;
}

button.meetPet{
  height: 75px;
  background-color: #6FB002;
}

h2.meetPetText{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.7px;
  line-height: 26px;
}

/* L O L */

h2{
  font-size: 24px;
  color: #000000;
}

h2 filterText{
  font-size: 16px;
  font-weight: bold;
  color: #4A4A4A;
}

h2 filterTextCaps{
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,.87);
  text-transform: uppercase;
}

h2 textName{
  font-size: 20px;
  color: #000000;
  font-weight: light;
}

h3 pageTitle{
  font-size: 20px;
  color: #FFFFFF;
}

h3 buttonName{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

h3 {

}

h4{
  font-size: 18px;
  font-weight: light;
  color: rgba(0,0,0,.87);
  text-transform: uppercase;
}

h5{

}

h6{

}

p{

}

span{

}

a{

}

/* I M A G E - S T Y L I N G */

img.className{

}

img.otherClassName{

}

img#idName{

}

/* L O G I N - S T Y L I N G */



/* S U R V E Y - S T Y L I N G */

div.className{

}

div#idName{

}

/* G O O G L E - M A P - S T Y L I N G */



/* A N I M A T I O N S */
