<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shelters Show</title>
  </head>
  <body>
    <h1><%= shelter.name %></h1>

    <ul>
      <li><a href="/shelters/<%= shelter._id %>/animals">See animals for this shelter</a></li>
    </ul>
  </body>
</html>
